main {
    color: white;
}

.main_setting_title {
    font-family: "NotoSans Bold", sans-serif;
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_setting_title_span {
    font-size: 24px;
}

.setting_title {
    display: flex;
    align-items: center;
    padding: 0 16px;
    min-height: 60px;
    font-size: 18px;
}

.setting_block {
    font-family: "NotoSans Bold", sans-serif;
    border-top: 2px solid #5A5B5C;
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    min-height: 60px;
}

.setting_block_content {
    margin: 6px 0;
}

.setting_content {
    flex: 1;
}

.setting_control_right {
}

.setting_btn {
    width: 100px;
}

.neutral_banner {
    background-color: #1E1E1F;
}

/* Expandable Card */
.expandable_card {
    text-align: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    position: relative;
    border-top: 2px solid #5A5B5C;
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
    color: #FFFFFF;
}

.expandable_card:hover {
    background-color: #58585A;
}

.expandable_card:active {
    border: 2px solid #333334;
    background-color: #3D3E3F;
}

.expandable_card_text_area {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.expandable_card_text {
    font-size: 23px;
    font-family: "Minecraft Seven", sans-serif;
}

.expandable_card_text_title {
}

.expandable_card_image_area {
    height: 56px;
    width: 56px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandable_card_image {
    width: 32px;
}

.expandable_card_down_area {
    background-color: #313233;
    overflow: hidden;
    transition: height 600ms;
}

.expandable_card_down {
    padding: 1px;
}

.expandable_card_down_br {
    margin: 1px 0;
    height: 2px;
    background-color: #48494A;
}

.expandable_card_down_content {
    margin: 10px 20px;
}

/* Badge */
.badge_area {
    display: flex;
    align-items: center;
}

.badge {
    width: 6px;
    height: 6px;
    margin-right: 6px;
}

.green_badge {
    background-color: #6CC349;
}

.blue_badge {
    background-color: #8CB3FF;
}

.yellow_badge {
    background-color: #FFE866;
}

.red_badge {
    background-color: #F46D6D;
}

/* Tag */
.tag_area {
    display: flex;
    align-items: center;
}

.tag {
    align-self: center;
    color: #000000;
    margin: 4px;
    padding: 0 2px;
    font-size: 12px;
}

.black_tag {
    color: #FFFFFF;
    background-color: #1E1E1F;
}

.green_tag {
    background-color: #6CC349;
}

.blue_tag {
    background-color: #8CB3FF;
}

.yellow_tag {
    background-color: #FFE866;
}

.red_tag {
    background-color: #F46D6D;
}

/* Switch开关 */
.switch_content {
    margin: 6px;
}

.switch {
    width: 56px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.normal_switch {
    border: 2px solid #1E1E1F;
    background: linear-gradient(to right, #3C8527 50%, #8C8D90 50%); /* 左半部分绿色，右半部分灰色 */
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.2), inset -2px -2px rgba(255, 255, 255, 0.1);
}

.disabled_switch {
    border: 2px solid #8C8D90;
    background: #D0D1D4;
}

.switch_style {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: transparent;
    top: 3px;
}

.switch_style.left {
    left: 5px;
}

.switch_style.right {
    right: 6px;
}

.switch_style.left img, .switch_style.right img {
    height: 16px;
}

.disabled_switch .switch_style.left img {
    filter: grayscale(100%) brightness(50%);
}

.disabled_switch .switch_style.right img {
    filter: invert(100%) grayscale(100%) brightness(50%);
}

@keyframes bounce_left {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    48% {
        transform: translateX(-2px);
    }
    52% {
        transform: translateX(0px);
    }
}

@keyframes bounce_right {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    48% {
        transform: translateX(2px);
    }
    52% {
        transform: translateX(0px);
    }
}

.switch_bounce_left {
    animation: bounce_right 175ms ease-in-out 2;
}

.switch_bounce_right {
    animation: bounce_left 175ms ease-in-out 2;
}

.switch_slider {
    position: absolute;
    top: -6px;
    left: -2px;
    width: 28px;
    height: 28px;
    z-index: 1;
    background-color: #D0D1D4;
    transition: left 125ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.normal_switch .switch_slider {
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #58585A, inset 2px 2px rgba(255, 255, 255, 0.6), inset -2px -6px rgba(255, 255, 255, 0.4);
}

.disabled_switch .switch_slider {
    border: 2px solid #8C8D90;
    box-shadow: inset 0 -4px #B1B2B5;
}

.normal_switch .switch_slider:hover, .normal_switch .switch_slider:active, .normal_switch .switch:hover .switch_slider, .normal_switch .switch_slider.active {
    background-color: #B1B2B5;
    box-shadow: inset 0 -4px #58585A, inset 2px 2px rgba(255, 255, 255, 0.8), inset -2px -6px rgba(255, 255, 255, 0.6);
}

.switch.on .switch_slider {
    left: 27px;
}

/* Slider滑块 */
.slider_content {
    display: flex;
    width: calc(100% - 32px);
    height: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%; /* 进度条宽度 */
    height: 8px; /* 进度条高度 */
    margin: 0 10px;
    border: 2px solid #1E1E1F;
    background: #8C8D90;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px rgba(255, 255, 255, 0.2);
    position: relative; /* 相对定位,用于子元素绝对定位的参考 */
}

.slider_process {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    background: #3C8527;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px rgba(255, 255, 255, 0.2);
    transition: width 100ms linear;
}

.slider_handle {
    position: absolute; /* 相对于包含它的 .slider 元素绝对定位 */
    width: 28px;
    height: 28px;
    top: 50%; /* 滑块垂直居中 */
    z-index: 1;
    transform: translate(-50%, -50%); /* 水平和垂直居中 */
    background-color: #D0D1D4;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #58585A, inset 2px 2px rgba(255, 255, 255, 0.6), inset -2px -6px rgba(255, 255, 255, 0.4);
    transition: left 100ms linear;
}

.slider_handle:hover, .slider_handle:active, .slider_content:hover .slider_handle, .slider_handle.active {
    background-color: #B1B2B5;
    box-shadow: inset 0 -4px #58585A, inset 2px 2px rgba(255, 255, 255, 0.8), inset -2px -6px rgba(255, 255, 255, 0.6);
}

.slider_tooltip {
    position: absolute;
    bottom: -55px;
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
}

.slider_segment { /* Set Slider的分段线样式 */
    position: absolute;
    background-color: #1E1E1F;
    width: 2px;
    height: 8px;
    top: 50%; /* 分段线垂直居中 */
    transform: translateY(-50%); /* 分段线垂直居中 */
}

/* Tab Bar组件 */
.tab_bar_area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    z-index: 9;
}

.tab_bar_area.main_tab_bar {
    height: 52px;
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
}

.tab_bar {
    position: relative;
    width: calc(100% - 40px);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.tab_bar_btn {
    font-family: "NotoSans Bold", sans-serif;
    flex: 1;
    height: 40px;
    justify-self: center;
    color: white;
    background-color: #48494A;
    transition: background-color 0.3s;
    padding-bottom: 6px;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #313233, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
    position: relative;
}

.tab_bar_btn:hover {
    background-color: #58585A;
    box-shadow: inset 0 -4px #313233, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
}

.tab_bar_btn:active {
    margin-top: 4px;
    height: 36px;
    padding-bottom: 2px;
    background-color: #313233;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px rgba(255, 255, 255, 0.1);
}

.tab_bar_btn::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s;
}

.tab_bar_btn.active {
    margin-top: 4px;
    height: 36px;
    padding-bottom: 2px;
    background-color: #313233;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px rgba(255, 255, 255, 0.1);
}

.tab_bar_btn:hover::after,
.tab_bar_btn.active::after {
    transform: translateX(-50%) scaleX(1);
    width: 20%;
}

.tab_bar_btn.no_active:hover::after,
.tab_bar_btn.no_active::after {
    height: 4px;
}

.tab_bar_btn.no_active:active::after {
    height: 3px;
}

.tab_content {
    display: none;
    color: #FFFFFF;
    min-height: 60px;
}

.tab_content.active {
    display: block;
}

.tab_sidebar.no_active {
    display: none;
}

.tab_sidebar.active {
    display: block;
}

/* 带有图标的按钮 */
.link_img, .link_img_black {
    margin-bottom: -1.5px;
    height: 14px;
    width: 14px;
    padding-right: 6px;
}

/* 带有Tooltip的按钮 */
.btn_with_tooltip_cont {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: #1F1F1F;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -30px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.6s;
}

.btn_with_tooltip_cont:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.key_icon {
    position: absolute;
    top: -2px;
    right: 0;
    z-index: 2;
    height: 20px;
}