main {
    color: white;
}

.setting_title {
    display: flex;
    align-items: center;
    padding: 0 16px;
    min-height: 60px;
    font-size: 18px;
}

.setting_block {
    display: flex;
    align-items: center;
}

.setting_block_content {
    margin: 6px 0;
}

.setting_content {
    align-self: center;
    flex: 1;
}

.setting_control_right {
}

.setting_btn {
    width: 120px;
}

/* Slider滑块 */
.slider_content {
    display: flex;
    width: calc(100% - 32px);
    height: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%; /* 进度条宽度 */
    height: 8px; /* 进度条高度 */
    margin: 0 10px;
    border: 2px solid #1E1E1F;
    background: #8C8D90;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px rgba(255, 255, 255, 0.2);
    position: relative; /* 相对定位,用于子元素绝对定位的参考 */
}

.slider_process {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    background: #3C8527;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px rgba(255, 255, 255, 0.2);
    transition: width 100ms linear;
}

.slider_handle {
    position: absolute; /* 相对于包含它的 .slider 元素绝对定位 */
    width: 28px;
    height: 28px;
    top: 50%; /* 滑块垂直居中 */
    z-index: 1;
    transform: translate(-50%, -50%); /* 水平和垂直居中 */
    background-color: #D0D1D4;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #58585A, inset 2px 2px rgba(255, 255, 255, 0.6), inset -2px -6px rgba(255, 255, 255, 0.4);
    transition: left 100ms linear;
}

.slider_handle:hover, .slider_handle:active, .slider_content:hover .slider_handle, .slider_handle.active {
    background-color: #B1B2B5;
    box-shadow: inset 0 -4px #58585A, inset 2px 2px rgba(255, 255, 255, 0.8), inset -2px -6px rgba(255, 255, 255, 0.6);
}

.slider_tooltip {
    position: absolute;
    bottom: -55px;
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
}

.slider_segment { /* Set Slider的分段线样式 */
    position: absolute;
    background-color: #1E1E1F;
    width: 2px;
    height: 8px;
    top: 50%; /* 分段线垂直居中 */
    transform: translateY(-50%); /* 分段线垂直居中 */
}

.disabled_slider.slider {
    background: #CFD0D4;
    border: 2px solid #8C8D90;
}

.disabled_slider .slider_segment {
    background-color: #8C8D90;
}

.disabled_slider .slider_process {
    background: #CFD0D4;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px rgba(255, 255, 255, 0.2);
}


.disabled_slider .slider_handle {
    background-color: #CFD0D4;
    border: 2px solid #8B8C90;
    box-shadow: inset 0 -4px #B0B1B5, inset 2px 2px rgba(255, 255, 255, 0.6), inset -2px -6px rgba(255, 255, 255, 0.4);
}

.disabled_slider .slider_handle:hover, .disabled_slider .slider_handle:active, .slider_content:hover .disabled_slider .slider_handle, .disabled_slider .slider_handle.active {
    background-color: #CFD0D4;
    border: 2px solid #8B8C90;
    box-shadow: inset 0 -4px #B0B1B5, inset 2px 2px rgba(255, 255, 255, 0.6), inset -2px -6px rgba(255, 255, 255, 0.4);
}