/*
 * Copyright © 2020. Spectrollay
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

/* 防止反色以杜绝出现奇怪的显示问题 */
:root {
    color-scheme: light !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light !important;
    }
}

/* 自定义字体 */
@font-face {
    font-family: 'Minecraft Ten';
    src: url("/minecraft_repository/fonts/Minecraft-Ten.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Seven';
    src: url("/minecraft_repository/fonts/Minecraft-Seven.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Five Bold';
    src: url("/minecraft_repository/fonts/Minecraft-Five-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Five';
    src: url("/minecraft_repository/fonts/Minecraft-Five.otf") format('opentype');
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url("/minecraft_repository/fonts/NotoSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSans BoldItalic';
    src: url("/minecraft_repository/fonts/NotoSans-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSans Italic';
    src: url("/minecraft_repository/fonts/NotoSans-Italic.ttf") format('truetype');
}

/* 页面选择事件 */
::selection {
    background-color: transparent;
    color: inherit;
}

* {
    -webkit-tap-highlight-color: transparent; /* 禁用高亮 */
    overscroll-behavior: contain; /* 禁用过度滚动 */
    touch-action: manipulation; /* 禁用长按菜单 */
}

.flex {
    display: flex;
}

.wrap_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 总体样式 */
body {
    background: #48494A;
    font-family: "NotoSans Bold", sans-serif;
    margin: 0;
    min-width: 330px;
    overflow-x: hidden;
    -webkit-user-select: none;
}

/* 顶部标题栏 */
header {
    align-items: center;
    background-color: #E6E8EB;
    border-bottom: 4px solid #B1B2B5;
    display: flex;
    height: 40px;
    left: 0;
    min-width: 330px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

/* 顶栏元素 */
.header_item, .header_logo {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.header_item {
    cursor: pointer;
}

.header_item:hover {
    background-color: #F4F6F9;
}

.header_item:active {
    background-color: #D0D1D4;
}

/* 顶栏左侧按钮 */
.header_item_left {
    border-right: 2px solid #A1A3A5;
    box-shadow: inset -2px 0 #FFFFFF;
    width: 42px;
}

/* 顶栏右侧按钮 */
.header_item_right {
    border-left: 2px solid #FFFFFF;
    box-shadow: inset 2px 0 #A1A3A5;
    width: 42px;
}

.header_right_blank {
    border: 0;
    box-shadow: unset;
    cursor: default;
    width: 44px;
}

.header_right_blank:hover, .header_right_blank:active {
    background-color: #E6E8EB;
}

/* 顶栏按钮图标 */
.back_icon, .menu_icon, .repo_icon, .debug_icon, .settings_icon, .feedback_icon, .run_icon {
    height: 32px;
}

.menu_icon, .back_icon {
    padding: 4px 6px 4px 4px;
}

.repo_icon, .debug_icon, .settings_icon, .feedback_icon, .run_icon {
    padding: 4px 4px 4px 6px;
}

/* 标题区域 */
.title_icon {
    height: 26px;
    padding-right: 8px;
    width: 26px;
}

/* 标题图标 */
.header_logo {
    flex: 1;
}

/* 标题文字 */
.header_title {
    font-family: "Minecraft Ten", sans-serif;
    font-size: 30px;
    height: 38px;
}

.repository_logo_area {
    align-items: center;
    display: flex;
    justify-content: center;
}

.repository_logo_img {
    height: 30px;
}

/* 主体框架 */
scroll-view {
    display: flex;
}

scroll-container {
    display: grid;
    height: calc(100% - 44px);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    scroll-behavior: smooth;
    scrollbar-width: none;
    top: 44px;
    width: 100%;
}

main {
    color: #FFFFFF;
    min-width: 330px;
    width: 100vw;
}

/* 主要滚动条 */
custom-scrollbar {
    display: block;
    opacity: 1;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    top: 44px;
    transition: opacity 1s;
    width: 22px;
}

custom-scrollbar-track {
    background-color: #58585A;
    display: block;
    height: calc(100% - 16px);
    overflow-y: hidden;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 6px;
}

custom-scrollbar-thumb {
    background-color: #E6E8EB;
    border: 2px solid #000000;
    box-shadow: inset 0 -4px #58585A, inset 0 -7px #F9FAFA, inset 3px 3px #F9FAFA, inset -3px 0 #F9FAFA;
    cursor: pointer;
    display: block;
    min-height: 20px;
    overflow-y: hidden;
    position: absolute;
    right: 3px;
    width: 12px;
}

/* TabBar标签栏组件 */
.tab_bar_area {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 330px;
    z-index: 9;
}

.tab_bar_area.main_tab_bar {
    height: 52px;
    left: 0;
    position: fixed;
    right: 0;
    top: 56px;
}

.tab_bar_with_banner.main_tab_bar {
    top: 96px;
}

.tab_bar {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    position: relative;
    width: calc(100% - 40px);
}

.tab_bar_btn {
    background-color: #48494A;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #313233, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    flex: 1;
    font-family: "NotoSans Bold", sans-serif;
    height: 40px;
    justify-self: center;
    padding-bottom: 6px;
    position: relative;
    transition: background-color 0.3s;
}

.tab_bar_btn:hover {
    background-color: #58585A;
    box-shadow: inset 0 -4px #313233, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
}

.tab_bar_btn:active {
    background-color: #313233;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px rgba(255, 255, 255, 0.1);
    height: 36px;
    margin-top: 4px;
    padding-bottom: 2px;
}

.tab_bar_btn::after {
    background-color: white;
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s;
    width: 20%;
}

.tab_bar_btn.active {
    background-color: #313233;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px rgba(255, 255, 255, 0.1);
    cursor: default;
    height: 36px;
    margin-top: 4px;
    padding-bottom: 2px;
}

.tab_bar_btn:hover::after,
.tab_bar_btn.active::after {
    transform: translateX(-50%) scaleX(1);
    width: 20%;
}

.tab_bar_btn.no_active:hover::after,
.tab_bar_btn.no_active::after {
    height: 4px;
}

.tab_bar_btn.no_active:active::after {
    height: 3px;
}

.tab_content {
    color: #FFFFFF;
    display: none;
    min-height: 60px;
}

.tab_content.active {
    display: block;
}

.tab_sidebar.no_active {
    display: none;
}

.tab_sidebar.active {
    display: block;
}

/* 主体块 */
.main {
    align-items: center;
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
    border-top: 2px solid #5A5B5C;
    display: grid;
    height: auto;
    min-height: 66px;
    padding: 8px 0;
    text-align: center;
}

#holiday_tip1, #holiday_tip2 {
    display: none;
}

/* 主体上下提示 */
.main-header, .main-footer {
    font-family: "Minecraft Ten", sans-serif;
}

.header_notice_title, .choose_edition_title, .footer_notice_title {
    font-size: 28px;
}

.header_notice_body, .footer_notice_body {
    justify-content: center;
}

/* 预览提示 */
.preview_block {
    border-bottom: 4px solid #333334;
    border-left: 0;
    border-right: 0;
    border-top: 4px solid #5A5B5C;
    font-family: "NotoSans Bold", sans-serif;
}

.preview_title {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 18px;
    margin: 4px 0;
}

.preview_detail {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 16px;
    margin: 4px 0;
}

/* 加载中图标 */
.loading_icon {
    height: 32px;
    padding: 10px;
    width: 32px;
}

/* 主体文字 */
.title1, .title2, .title3, .description1, .description2 {
    color: #FFFFFF;
}

.title1, .title2, .title3 {
    font-weight: unset;
    margin: 4px 0;
}

.title1 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 26px;
}

.title2 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 23px;
}

.title3 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 20px;
}

.description {
    text-align: left;
}

.description p {
    text-indent: 2em;
}

.description img {
    width: 100%;
}

.description1 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 18px;
    margin: 4px 0;
    text-align: center;
}

.description2 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 16px;
    margin: 8px;
}

.description3 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 14px;
    margin-top: 4px;
    width: 80px;
}

a {
    box-shadow: inset 0 -2px 0 0 #FFFFFF;
    color: inherit;
    position: relative;
    text-decoration: none;
}

.main_title {
    align-items: center;
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    display: flex;
    font-family: "NotoSans Bold", sans-serif;
    justify-content: center;
    min-height: 70px;
}

.main_title_area {
    margin: 10px 0;
}

.main_title_span {
    font-size: 24px;
}

.main_block {
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    border-top: 2px solid #5A5B5C;
    font-family: "NotoSans Bold", sans-serif;
    min-height: 60px;
    padding: 0 16px;
}

/* 主体块 */
.block {
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
    border-top: 2px solid #5A5B5C;
    margin: 0 20px;
}

.main_content_center {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 240px;
}

.main_detail_center {
    font-size: 20px;
    text-align: center;
}

.version_logo, .version_artwork {
    align-self: center;
    justify-self: center;
    margin: 5px 12px;
    width: 272px;
}

.btn_group {
    align-items: center;
    display: flex;
    justify-content: center;
}

.notice_img {
    width: 280px;
}

.guidance_image {
    display: flex;
    margin: 20px 10px;
    max-width: 600px;
    justify-self: center;
}

/* 块间隙 */
.block_spacing {
    height: 20px;
}

/* Banner区域 */
.banner_area {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Banner主体 */
.banner {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-family: "NotoSans Bold", sans-serif;
    hyphens: auto;
    justify-content: center;
    margin: 10px 20px;
    min-height: 30px;
    padding: 4px;
    text-align: center;
    width: calc(100% - 40px);
    word-wrap: break-word;
}

.top_banner {
    margin-bottom: 0;
}

.banner_with_tab_bar {
    position: fixed;
    top: 44px;
    width: 100%;
}

.neutral_banner {
    background-color: #1E1E1F;
}

.information_banner {
    background-color: #2E6BE5;
}

.important_banner {
    background-color: #FFE866;
    color: #000000;
    font-weight: bolder;
}

.important_banner a {
    box-shadow: inset 0 -2px 0 0 #000000;
}

/* Badge */
.badge_area {
    align-items: center;
    display: flex;
}

.badge {
    height: 6px;
    margin-right: 6px;
    width: 6px;
}

.green_badge {
    background-color: #6CC349;
}

.blue_badge {
    background-color: #8CB3FF;
}

.yellow_badge {
    background-color: #FFE866;
}

.red_badge {
    background-color: #F46D6D;
}

/* Tag */
.tag {
    align-self: center;
    color: #000000;
    font-size: 12px;
    margin: 4px;
    padding: 0 2px;
}

.black_tag {
    background-color: #1E1E1F;
    color: #FFFFFF;
}

.green_tag {
    background-color: #6CC349;
}

.blue_tag {
    background-color: #8CB3FF;
}

.yellow_tag {
    background-color: #FFE866;
}

.red_tag {
    background-color: #F46D6D;
}

/* 表格属性 */
.table_area {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    border: 1px solid #FFFFFF;
}

th {
    height: 40px;
}

td {
    height: 60px;
}

.table {
    align-self: center;
    display: flex;
    hyphens: auto;
    justify-self: center;
    max-width: 600px;
    word-wrap: break-word;
}

.table-big {
    align-self: center;
    display: flex;
    hyphens: auto;
    justify-self: center;
    max-width: 1000px;
    word-wrap: break-word;
}

.table td {
    min-width: 100px;
}

/* 友链样式 */
reciprocal-link-block {
    cursor: pointer;
    display: block;
    border: 2px solid #58585A;
    margin: 6px;
    min-height: 80px;
    width: 270px;
}

reciprocal-link-block:hover, reciprocal-link-block:active {
    border: 2px solid #6D6D6E;
    background-color: #58585A;
}

.reciprocal_link_title {
    display: flex;
    justify-content: center;
    margin: 10px 4px;
}

.reciprocal_link_title_img {
    align-self: center;
    height: 20px;
    margin-right: 5px;
}

.reciprocal_link_title_text {
    align-self: center;
    font-size: 17px;
}

.reciprocal_link_description {
    margin: 10px;
    color: #D0D1D4;
}

/* 表格底部信息区域 */
.info_area {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
}

.info_area div {
    max-width: 1000px;
    width: 100%;
}

.info_text {
    margin-bottom: 0;
}

/* Pop弹窗 */
.pop_area {
    display: none;
}

/* 页面底部信息 */
.page_info_title, .page_info {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 12px;
    margin-left: 20px;
}

.page_info_title {
    color: rgba(255, 255, 255, 0.8);
}

.page_info {
    color: rgba(255, 255, 255, 0.4);
}

.page_info a {
    box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.4);
}

/* 侧边栏 */
.sidebar {
    background-color: #313233;
    font-family: "NotoSans Bold", sans-serif;
    height: calc(100% - 44px);
    left: -160px; /* 初始隐藏到屏幕左侧 */
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 44px;
    transition: left 0.6s;
    width: 160px;
    z-index: 2;
}

.sidebar_scroll_container {
    height: calc(100% - 44px);
    top: 44px;
    width: 160px;
}

.sidebar custom-scrollbar {
    height: 100%;
    top: 0;
    width: 18px;
}

.sidebar custom-scrollbar-track {
    background-color: transparent;
    height: 100%;
    right: 6px;
    top: 0;
    width: 6px;
}

.sidebar custom-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    box-shadow: unset;
    cursor: default;
    right: 4px;
    width: 10px;
}

.sidebar a {
    box-shadow: unset;
    text-decoration: none;
}

.sidebar_content {
    width: auto;
}

.sidebar_list {
    border-bottom: 2px solid #000000;
    width: 100%;
}

.sidebar_item {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    padding-left: 10px;
    width: 150px;
}

.sidebar_detail_title {
    font-family: "Minecraft Ten", sans-serif;
    font-size: 20px;
    height: 30px;
    margin: 6px 0;
}

.sidebar_detail_title, .sidebar_detail {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.sidebar_detail {
    font-size: 14px;
    height: 24px;
    margin-bottom: 24px;
}

.sidebar_info {
    border-top: 2px solid #454647;
    width: 160px;
}

.sidebar_item:hover, .sidebar_item:active {
    background-color: #67686A;
}

/* 全屏遮罩 */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
}

/* 除了顶栏 */
.overlay_main {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/* 可展开卡片 */
.expandable_card {
    align-items: center;
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
    border-top: 2px solid #5A5B5C;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    height: 56px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.expandable_card:hover {
    background-color: #58585A;
}

.expandable_card:active {
    background-color: #3D3E3F;
    border: 2px solid #333334;
}

.expandable_card_text_area {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.expandable_card_text {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 24px;
}

.expandable_card_text_title {
}

.expandable_card_image_area {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
}

.expandable_card_image {
    width: 32px;
}

.expandable_card_down_area, .plan_block_area {
    background-color: #313233;
    overflow: hidden;
    transition: height 600ms;
}

.expandable_card_down {
    padding: 1px;
}

.expandable_card_down_content, .plan_block_content {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/*自适应折叠组件*/
.folding_custom_btn {
    width: 100%;
}

.folding_button_group {
    margin: 0 10px;
    width: calc(100% - 20px);
}

.folding_button_list {
    align-items: center;
    display: flex;
}

.folding_btn {
    width: calc(100% - 10px);
}