/*
 * Copyright © 2020. Spectrollay
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

/* 防止反色以杜绝出现奇怪的显示问题 */
:root {
    color-scheme: light !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light !important;
    }
}

/* 自定义字体 */
@font-face {
    font-family: 'Minecraft Ten';
    src: url("/minecraft_repository/fonts/Minecraft-Ten.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Seven';
    src: url("/minecraft_repository/fonts/Minecraft-Seven.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Five Bold';
    src: url("/minecraft_repository/fonts/Minecraft-Five-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Five';
    src: url("/minecraft_repository/fonts/Minecraft-Five.otf") format('opentype');
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url("/minecraft_repository/fonts/NotoSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSans BoldItalic';
    src: url("/minecraft_repository/fonts/NotoSans-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSans Italic';
    src: url("/minecraft_repository/fonts/NotoSans-Italic.ttf") format('truetype');
}

/* 页面选择事件 */
::selection {
    background-color: transparent;
    color: inherit;
}

* {
    -webkit-tap-highlight-color: transparent; /* 禁用高亮 */
    touch-action: manipulation; /* 禁用长按菜单 */
}

.flex {
    display: flex;
}

.wrap_flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 总体样式 */
html {
    font-family: "NotoSans Bold", sans-serif;
    height: 100%;
    overscroll-behavior: contain;
}

html.grayscale {
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
}

body {
    background-color: #48494A;
    height: 100%;
    margin: 0;
    min-width: 330px;
    overflow: hidden;
    position: relative;
    scrollbar-width: none;
    -webkit-user-select: none;
}

body.old { /* TODO 旧页面完成迭代后移除 */
    height: auto;
}

/* 开发仓库全局水印 */
body.test::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='20' y='80' text-anchor='start' font-family='sans-serif' font-size='20' fill='%23000000' transform='rotate(-45 20 80)'%3E%E5%BC%80%E5%8F%91%E4%BB%93%E5%BA%93%3C/text%3E%3C/svg%3E"),
    url("data:image/svg+xml;charset=UTF-8,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='20' y='80' text-anchor='start' font-family='sans-serif' font-size='20' fill='%23000000' transform='rotate(-45 20 80)'%3E%E5%BC%80%E5%8F%91%E4%BB%93%E5%BA%93%3C/text%3E%3C/svg%3E");
    background-repeat: repeat;
    background-position: 0 0, 90px 90px;
    background-size: 180px 180px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.2;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

dispaly-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 顶部标题栏 */
header {
    align-items: center;
    background-color: #E6E8EB;
    border-bottom: 4px solid #B1B2B5;
    display: flex;
    height: 40px;
    justify-content: space-between;
    min-width: 330px;
    position: relative;
    z-index: 10;
}

.header_left {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    z-index: 1;
}

.header_right {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    z-index: 1;
}

.header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 顶栏元素 */
.header_item, .header_logo {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.header_item {
    cursor: pointer;
    z-index: 1;
}

.header_item:hover {
    background-color: #F4F6F9;
}

.header_item:active {
    background-color: #D0D1D4;
}

/* 顶栏左侧按钮 */
.header_item_left {
    border-right: 2px solid #A1A3A5;
    box-shadow: inset -2px 0 #FFFFFF;
    width: 42px;
}

/* 顶栏右侧按钮 */
.header_item_right {
    border-left: 2px solid #FFFFFF;
    box-shadow: inset 2px 0 #A1A3A5;
    width: 42px;
}

.header_right_blank {
    border: 0;
    box-shadow: unset;
    cursor: default;
    width: 44px;
}

.header_right_blank:hover, .header_right_blank:active {
    background-color: #E6E8EB;
}

/* 顶栏按钮图标 */
.header_left_icon, .header_right_icon {
    height: 32px;
}

.header_left_icon {
    padding: 4px 6px 4px 4px;
}

.header_right_icon {
    padding: 4px 4px 4px 6px;
}

#back.with_menu {
    display: none;
}

@media screen and (min-width: 1200px) {
    #menu {
        display: none;
    }

    #menu.old { /* TODO 旧页面完成迭代后移除 */
        display: block;
    }

    #back.with_menu {
        display: flex;
    }
}

/* 标题区域 */
.title_icon {
    padding: 0 8px;
    width: 30px;
}

/* 标题图标 */
.header_logo {
    flex: 1;
    width: 100%;
}

/* 标题文字 */
.header_title {
    align-items: center;
    display: flex;
    font-family: "Minecraft Ten", sans-serif;
    font-size: 30px;
    justify-content: center;
    line-height: 1;
    height: 38px;
}

.repository_logo_area {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 16px;
}

#starmoon_title_short {
    display: block;
    height: 84px;
}

#starmoon_title_long {
    display: none;
    height: 42px;
}

@media screen and (min-width: 900px) {
    #starmoon_title_short {
        display: none;
    }

    #starmoon_title_long {
        display: block;
    }
}

/* 主体框架 */
display-body {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
}

scroll-view {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.main_scroll_view.animate {
    transition: margin-left 0.6s, width 0.6s;
}

@media screen and (min-width: 1200px) {
    .main_scroll_view.with_sidebar {
        margin-left: 240px; /* NOTE 侧边栏的显示宽度 */
        width: calc(100% - 240px); /* NOTE 要减去侧边栏的显示宽度 */
    }
}

scroll-container {
    display: grid;
    flex: 1;
    height: 100%;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 100%;
}

scroll-container.old { /* TODO 旧页面完成迭代后移除 */
    height: calc(100% - 44px);
    position: fixed;
    top: 44px;
}

scroll-container.tab { /* TODO 旧页面完成迭代后移除 */
    height: calc(100% - 100px);
    position: fixed;
    top: 100px;
}

.scroll_container {
    width: 100%;
}

main {
    color: #FFFFFF;
    min-width: 330px;
    width: 100vw;
}

/* TabBar标签栏组件 */
.tab_bar_area {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 330px;
    z-index: 9;
}

.tab_bar_area.main_tab_bar {
    height: 52px;
    left: 0;
    position: fixed;
    right: 0;
    top: 56px;
}

.tab_bar_with_banner.main_tab_bar {
    top: 96px;
}

.tab_bar {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    position: relative;
    width: calc(100% - 40px);
}

.tab_bar_btn {
    background-color: #48494A;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #313233, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    flex: 1;
    font-family: "NotoSans Bold", sans-serif;
    height: 40px;
    justify-self: center;
    padding-bottom: 6px;
    position: relative;
    transition: background-color 0.3s;
}

.tab_bar_btn:hover {
    background-color: #58585A;
    box-shadow: inset 0 -4px #313233, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
}

.tab_bar_btn:active {
    background-color: #313233;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px rgba(255, 255, 255, 0.1);
    height: 36px;
    margin-top: 4px;
    padding-bottom: 2px;
}

.tab_bar_btn::after {
    background-color: #FFFFFF;
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s;
    width: 20%;
}

.tab_bar_btn.active {
    background-color: #313233;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px rgba(255, 255, 255, 0.1);
    cursor: default;
    height: 36px;
    margin-top: 4px;
    padding-bottom: 2px;
}

.tab_bar_btn:hover::after,
.tab_bar_btn.active::after {
    transform: translateX(-50%) scaleX(1);
    width: 20%;
}

.tab_bar_btn.no_active:hover::after,
.tab_bar_btn.no_active::after {
    height: 4px;
}

.tab_bar_btn.no_active:active::after {
    height: 3px;
}

.tab_content {
    color: #FFFFFF;
    display: none;
    min-height: 60px;
}

.tab_content.active {
    display: block;
}

.tab_sidebar.no_active {
    display: none;
}

.tab_sidebar.active {
    display: block;
}

/* 主体块 */
.main {
    align-items: center;
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
    border-top: 2px solid #5A5B5C;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    min-height: 66px;
    padding: 8px 0;
    text-align: center;
}

#event_tip1, #event_tip2 {
    display: none;
}

/* 主体上下提示 */
.main-header, .main-footer {
    font-family: "Minecraft Ten", sans-serif;
}

.header_notice_title, .choose_edition_title, .footer_notice_title {
    font-size: 28px;
}

.header_notice_body, .footer_notice_body {
    justify-content: center;
}

/* 预览提示 */
.preview_block {
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    border-top: 2px solid #5A5B5C;
    font-family: "NotoSans Bold", sans-serif;
}

.preview_title {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 18px;
    margin: 4px 0;
}

.preview_detail {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 16px;
    margin: 4px 0;
}

/* 加载中图标 */
.loading_icon {
    height: 32px;
    padding: 10px;
    width: 32px;
}

/* 主体文字 */
.title1, .title2, .title3, .description1, .description2 {
    color: #FFFFFF;
}

.title1, .title2, .title3 {
    align-items: center;
    display: flex;
    font-weight: unset;
    justify-content: center;
    margin: 4px 0;
}

.title1 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 26px;
}

.title2 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 23px;
}

.title3 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 20px;
}

.description {
    text-align: left;
}

.description p {
    text-indent: 2em;
}

.description img {
    width: 100%;
}

.description1 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 18px;
    margin: 4px 0;
    text-align: center;
}

.description2 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 16px;
    margin: 8px;
}

.description3 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 14px;
    margin-top: 4px;
    width: 80px;
}

a {
    box-shadow: inset 0 -2px 0 0 currentColor;
    color: inherit;
    position: relative;
    text-decoration: none;
}

.main_title {
    align-items: center;
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    display: flex;
    font-family: "NotoSans Bold", sans-serif;
    justify-content: center;
    min-height: 70px;
}

.main_title_area {
    margin: 10px 0;
}

.main_title_span {
    font-size: 24px;
}

.main_block {
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    border-top: 2px solid #5A5B5C;
    font-family: "NotoSans Bold", sans-serif;
    min-height: 60px;
    padding: 0 16px;
}

.main_block_cont {
    margin: 8px;
}

/* 主体块 */
.block {
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
    border-top: 2px solid #5A5B5C;
    margin: 0 20px;
}

.main_content_center {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 300px;
}

.main_detail_center {
    font-size: 20px;
    text-align: center;
}

.version_logo, .version_artwork {
    align-self: center;
    justify-self: center;
    margin: 5px 12px;
    width: 272px;
}

.btn_group {
    align-items: center;
    display: flex;
    justify-content: center;
}

.coming_soon-img {
    height: 80px;
}

.notice_img {
    width: 280px;
}

.guidance_image {
    display: flex;
    margin: 20px 10px;
    max-width: 600px;
    justify-self: center;
}

/* 块间隙 */
.block_spacing {
    height: 20px;
}

.top_banner {
    margin-bottom: 0;
}

.banner_with_tab_bar {
    position: fixed;
    top: 44px;
    width: 100%;
}

#banner_tip {
    cursor: pointer;
}

.data_loading_area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
}

.data_loading_img {
    height: 50px;
    margin: 6px;
    width: 50px;
}

.data_loading_img_small {
    height: 20px;
    margin: 6px;
    width: 20px;
}

.data_loading_text {
    color: #FFFFFF;
    font-size: 18px;
}

.small_icon {
    height: 20px;
}

.body_text {
    margin: 8px;
}

.body_icon {
    width: 25px;
    margin-right: 6px;
}

.body_title {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.body_feed_list {
    display: grid;
    margin: 8px;
    max-width: 350px;
    width: auto;
}

.body_feed {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 6px;
}

.body_link {
    align-self: center;
    display: flex;
    justify-self: center;
    width: fit-content;
}

.feed_time {
    margin-right: 10px;
}

.feed_content {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.feed_content:hover {
    white-space: normal; /* 取消一行显示的限制 */
    overflow: visible; /* 显示全部内容 */
}

.buy_genuine {
    font-size: 18px;
    margin: 6px;
}

.choose_version_guide {
    /*border: 2px solid #58585A;*/
    margin: 6px;
    max-width: 400px;
}

.download_platform {
    align-self: center;
    justify-self: center;
    max-width: 1000px;
    width: 80%;
}

.download_platform_title {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin: 6px;
}

.about_us_block {
    min-width: 300px;
}

.about_text {
    max-width: 500px;
    text-align: justify;
}

/* 链接框样式 */
.link_block_group {
    margin: 8px;
}

.link_block_group_title {
    font-size: 17px;
}

link-block {
    align-items: center;
    border: 2px solid #58585A;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
    overflow: hidden;
    padding: 5px 17px;
    position: relative;
}

link-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 15px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: skewX(-45deg);
    transition: none;
    z-index: 2;
}

link-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 6px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(-45deg);
    transition: none;
    z-index: 1;
}

link-block:hover::before {
    animation: thickFlash 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

link-block:hover::after {
    animation: thinFlash 0.6s 0.01s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes thickFlash {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

@keyframes thinFlash {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

.choose_version_guide, .download_platform {
    padding: 5px 17px;
}

.reciprocal_link_block {
    min-height: 80px;
    padding: 0;
    width: 270px;
}

link-block:hover, link-block:active {
    border: 2px solid #6D6D6E;
    background-color: #58585A;
}

.link_title, .link_text {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px 4px;
}

.link_title {
    font-size: 17px;
}

.link_title_img {
    align-self: center;
    margin-right: 5px;
    width: 20px;
}

.link_title_img.without_text {
    margin: 0;
}

.link_description {
    margin-bottom: 6px;
    color: #D0D1D4;
}

.block_main, .version_block_left, .version_block_right {
    align-items: center;
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
    border-top: 2px solid #5A5B5C;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    min-height: 66px;
    padding: 8px 0;
    text-align: center;
}

.download_block_title {
    margin: 8px 16px;
}

.share_img_title {
    cursor: pointer;
    height: 20px;
    margin-left: 8px;
    margin-top: 4px; /* 在视觉上居中 */
}

.version_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.download_block_description {
    color: rgba(255, 255, 255, 0.8);
    margin: 8px 16px;
    text-align: left;
    width: 95%;
}

@media screen and (min-width: 460px) {
    .download_block_description {
        transition: 0.6s;
        width: 380px;
    }
}

@media screen and (min-width: 1200px) {
    .download_block_description.release_description {
        max-width: 510px;
        transition: none;
        width: max(380px, 30vw);
    }

    .download_block_description.update_description {
        transition: 0.6s;
        width: 500px;
    }
}

.update_logo_area {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 350px;
}

.update_logo {
    margin: 8px 16px;
    width: 260px;
}

.update_artwork_area {
    align-items: center;
    display: flex;
    height: 152px;
    justify-content: center;
    overflow: hidden;
    width: 280px;
}

.update_artwork {
    height: 140px;
    margin: 8px 16px;
}

.version_main_title {
    flex-direction: column;
}

.action_bar {
    margin: 8px 0;
}

.contact_description, .support_description {
    margin: 6px;
    max-width: 400px;
    text-align: justify;
}

.donate_description {
    margin: 6px;
}

/* 表格属性 */
.table_area {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    border: 1px solid #FFFFFF;
}

th {
    height: 40px;
}

td {
    height: 60px;
}

.table {
    align-self: center;
    display: flex;
    hyphens: auto;
    justify-self: center;
    max-width: 600px;
    word-wrap: break-word;
}

.table-big {
    align-self: center;
    display: flex;
    hyphens: auto;
    justify-self: center;
    max-width: 1000px;
    word-wrap: break-word;
}

.table td {
    min-width: 100px;
}

/* 表格底部信息区域 */
.info_area {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
}

.info_area div {
    max-width: 1000px;
    width: 100%;
}

.info_text {
    margin-bottom: 0;
}

/* 页面底部信息 */
.page_info_title, .page_info {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 12px;
    margin-left: 20px;
}

.page_info_title {
    color: rgba(255, 255, 255, 0.8);
}

.page_info {
    color: rgba(255, 255, 255, 0.4);
}

/* 侧边栏 */
.sidebar {
    background-color: #313233;
    border-right: 2px solid #1E1E1F;
    display: flex;
    font-family: "NotoSans Bold", sans-serif;
    height: 100%;
    left: -240px; /* NOTE 侧边栏的显示宽度 */
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    transition: left 0.6s, width 0.6s;
    width: 238px; /* NOTE 侧边栏的宽度 */
    z-index: 10;
}

.sidebar.old { /* TODO 旧页面完成迭代后移除 */
    height: calc(100% - 44px);
    position: fixed;
    top: 44px;
}

@media screen and (min-width: 1200px) {
    .sidebar.new {
        left: 0 !important;
    }

    .sidebar.old { /* TODO 旧页面完成迭代后移除 */
        left: -240px; /* NOTE 侧边栏的显示宽度 */
    }
}

.secondary_scroll_container {
    height: 100%;
    top: 0;
    width: 100%;
}

.secondary_scroll_container.old { /* TODO 旧页面完成迭代后移除 */
    height: calc(100% - 44px);
    top: 44px;
    width: 240px; /* NOTE 侧边栏的显示宽度 */
}

.sidebar a {
    box-shadow: unset;
    text-decoration: none;
}

.sidebar_content {
    width: auto;
}

.sidebar_list {
    border-top: 2px solid #454647;
}

.sidebar_header {
    align-items: center;
    border-bottom: 2px solid #000000;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    width: 100%;
}

.sidebar_list {
    border-bottom: 2px solid #000000;
}

.sidebar_item {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    padding-left: 10px;
}

.sidebar_detail_title {
    font-family: "Minecraft Ten", sans-serif;
    font-size: 20px;
    margin: 6px 0;
    min-height: 30px;
    text-align: center;
}

.sidebar_detail_title, .sidebar_detail {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.sidebar_detail {
    font-size: 14px;
    height: 24px;
    margin-bottom: 24px;
}

.sidebar_info {
    border-top: 2px solid #454647;
}

.sidebar_item:hover, .sidebar_item:active {
    background-color: #67686A;
}

/* 全屏遮罩 */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
}

/* 除了顶栏 */
.overlay_main {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

@media screen and (min-width: 1200px) {
    .overlay_main.new { /* TODO 旧页面完成迭代后移除 */
        display: none !important;
    }
}

/* 可展开卡片 */
.expandable_card {
    align-items: center;
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
    border-top: 2px solid #5A5B5C;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    height: 56px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.expandable_card:hover {
    background-color: #58585A;
}

.expandable_card:active {
    background-color: #3D3E3F;
    border: 2px solid #333334;
}

.expandable_card_text_area {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.expandable_card_text {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 24px;
}

.expandable_card_text_title {
}

.expandable_card_image_area {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
}

.expandable_card_image {
    width: 32px;
}

.expandable_card_down_area, .plan_block_area {
    background-color: #313233;
    overflow: hidden;
    transition: height 600ms;
    width: 100%;
}

.expandable_card_down {
    padding: 1px;
}

.expandable_card_down_content, .plan_block_content {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/*自适应折叠组件*/
.folding_custom_btn {
    width: 100%;
}

.folding_button_group {
    margin: 0 10px;
    width: calc(100% - 20px);
}

.folding_button_list {
    align-items: center;
    display: flex;
}

.folding_btn {
    width: calc(100% - 10px);
}
